body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
tr {text-align:left;}
#download-links {margin-top: 20px;}
#stop {width: 100px; text-align: center; right: -50px; top: 80px; position: absolute; display: block;}